numpy
pandas
scikit-learn
imbalanced-learn
xgboost
catboost
matplotlib
seaborn
dill
flask
mlflow
evidently
pyyaml
fastapi
uvicorn
flask
pandas
numpy
scikit-learn
mlflow
catboost
xgboost
joblib
gunicorn
